# backend
APScheduler
fastapi
pydantic[dotenv]==1.10.12
python-dotenv
python-multipart
uvicorn
pandas
requests
# database
MongoDBProxy
pymongo
minio
# auth
jose
passlib == 1.7.4
bcrypt
passlib[bcrypt]
python-jose